In [175]:
#mount from gdrive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
#read the CSV file
import pandas as pd
import tensorflow as tf
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/bank.csv')

In [177]:
# look at the rows and columns
data.head(5)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [178]:
#check for the shape
#which will help to find the total number of rows to check against unique values
data.shape

(10000, 14)

In [179]:
#2. Drop the columns which are unique for all users like IDs
for i in data.columns:
  print("number of unique values in the column ",i,len(data[i].unique().tolist()))
print("As RowNumber  and CustomerId  are unique dropping these two columns, rest are non-unique values")

number of unique values in the column  RowNumber 10000
number of unique values in the column  CustomerId 10000
number of unique values in the column  Surname 2932
number of unique values in the column  CreditScore 460
number of unique values in the column  Geography 3
number of unique values in the column  Gender 2
number of unique values in the column  Age 70
number of unique values in the column  Tenure 11
number of unique values in the column  Balance 6382
number of unique values in the column  NumOfProducts 4
number of unique values in the column  HasCrCard 2
number of unique values in the column  IsActiveMember 2
number of unique values in the column  EstimatedSalary 9999
number of unique values in the column  Exited 2
As RowNumber  and CustomerId  are unique dropping these two columns, rest are non-unique values

In [0]:
#drop column rownumber and CustomerId
data = data.drop(["RowNumber","CustomerId"], axis = 1)

In [0]:
#3.Distinguish the feature and target set
#dropping the Surname as it will not play any role in deciding if the person will exit or not

X =  data.drop(["Surname","Exited"], axis=1)
y =  data.pop("Exited")

In [182]:
#applying one -hot encoder to Geography and Gender

from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()
X.iloc[:, 1] = labelencoder_x.fit_transform(X.iloc[:, 1]) #applying on Geography
X.iloc[:, 2] = labelencoder_x.fit_transform(X.iloc[:, 2]) #applying on Gender
X.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [183]:
#One hot encoding. 

from keras.utils import to_categorical
encoded = pd.DataFrame(to_categorical(X.iloc[:, 1]))
#no need to encode Gender, as there are only two categories

X = pd.concat([encoded, X], axis = 1)
X.head()

     0    1    2  ...  HasCrCard  IsActiveMember  EstimatedSalary
0  1.0  0.0  0.0  ...          1               1        101348.88
1  0.0  0.0  1.0  ...          0               1        112542.58
2  1.0  0.0  0.0  ...          1               0        113931.57
3  1.0  0.0  0.0  ...          0               0         93826.63
4  0.0  0.0  1.0  ...          1               1         79084.10

[5 rows x 13 columns]

In [184]:
#Dropping the existing "geography" category, and one of the onehotcoded columns.

X = X.drop(['Geography', 0], axis = 1)
X.head()

     1    2  CreditScore  ...  HasCrCard  IsActiveMember  EstimatedSalary
0  0.0  0.0          619  ...          1               1        101348.88
1  0.0  1.0          608  ...          0               1        112542.58
2  0.0  0.0          502  ...          1               0        113931.57
3  0.0  0.0          699  ...          0               0         93826.63
4  0.0  1.0          850  ...          1               1         79084.10

[5 rows x 11 columns]

In [0]:
#4.Divide the data set into Train and test sets
#in the ratio of 70:30 (Training:Test).
from sklearn.model_selection import train_test_split
train_set, test_set, train_labels, test_labels = train_test_split(X, y, test_size=0.30, random_state=2)

In [0]:
#Standarize the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
train_set = sc.fit_transform(train_set)
test_set = sc.transform(test_set)

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [188]:
#Trying with adam
#adding 2 dense layers with relu
#6.Builiding the model
#7 optimise the results

model = Sequential()
#input_dim is required for the first hidden layer, as it is the first starting point. --> number of nodes.
model.add(Dense(12, input_dim=11, activation='relu'))
model.add(Dense(12, activation='relu'))
model2.add(Dense(8, activation='relu'))

#output_dim should be 1, as output is binary outcome, and activation should be 'sigmoid'
model.add(Dense(1, activation='sigmoid'))

# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(train_set, train_labels, batch_size = 10, nb_epoch = 30)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/30
7000/7000 [==============================] - 1s 207us/step - loss: 0.4799 - acc: 0.7859
Epoch 2/30
7000/7000 [==============================] - 1s 120us/step - loss: 0.3977 - acc: 0.8327
Epoch 3/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3714 - acc: 0.8489
Epoch 4/30
7000/7000 [==============================] - 1s 125us/step - loss: 0.3585 - acc: 0.8530
Epoch 5/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3516 - acc: 0.8543
Epoch 6/30
7000/7000 [==============================] - 1s 126us/step - loss: 0.3469 - acc: 0.8597
Epoch 7/30
7000/7000 [==============================] - 1s 120us/step - loss: 0.3449 - acc: 0.8590
Epoch 8/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3423 - acc: 0.8599
Epoch 9/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3409 - acc: 0.8619
Epoch 10/30
7000/7000 [==============================] - 1s 124us/step - loss: 0.3398 - acc: 0.8603
Epoch 11/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3385 - acc: 0.8629
Epoch 12/30
7000/7000 [==============================] - 1s 123us/step - loss: 0.3371 - acc: 0.8613
Epoch 13/30
7000/7000 [==============================] - 1s 123us/step - loss: 0.3360 - acc: 0.8616
Epoch 14/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3356 - acc: 0.8636
Epoch 15/30
7000/7000 [==============================] - 1s 124us/step - loss: 0.3349 - acc: 0.8631
Epoch 16/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3338 - acc: 0.8643
Epoch 17/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3326 - acc: 0.8643
Epoch 18/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3313 - acc: 0.8649
Epoch 19/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3312 - acc: 0.8656
Epoch 20/30
7000/7000 [==============================] - 1s 120us/step - loss: 0.3302 - acc: 0.8653
Epoch 21/30
7000/7000 [==============================] - 1s 124us/step - loss: 0.3300 - acc: 0.8643
Epoch 22/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3292 - acc: 0.8643
Epoch 23/30
7000/7000 [==============================] - 1s 130us/step - loss: 0.3284 - acc: 0.8656
Epoch 24/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3280 - acc: 0.8646
Epoch 25/30
7000/7000 [==============================] - 1s 123us/step - loss: 0.3272 - acc: 0.8684
Epoch 26/30
7000/7000 [==============================] - 1s 126us/step - loss: 0.3276 - acc: 0.8647
Epoch 27/30
7000/7000 [==============================] - 1s 124us/step - loss: 0.3268 - acc: 0.8656
Epoch 28/30
7000/7000 [==============================] - 1s 123us/step - loss: 0.3261 - acc: 0.8650
Epoch 29/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3256 - acc: 0.8639
Epoch 30/30
7000/7000 [==============================] - 1s 126us/step - loss: 0.3250 - acc: 0.8660

In [189]:
#7 optimise the results
#trying with sgd with decay=1e-6, momentum=0.9

from keras import optimizers
model2 = Sequential()
#input_dim is required for the first hidden layer, as it is the first starting point. --> number of nodes.
model2.add(Dense(12, input_dim=11, activation='relu'))
model2.add(Dense(12, activation='relu'))
model2.add(Dense(8, activation='relu'))

#output_dim should be 1, as output is binary outcome, and activation should be 'sigmoid'
model2.add(Dense(1, activation='sigmoid'))

sgd = optimizers.SGD(lr=0.01, decay=1e-6, momentum=0.9)
# Compile model


model2.compile(loss='binary_crossentropy', optimizer=sgd, metrics=['accuracy'])

model2.fit(train_set, train_labels, batch_size = 10, nb_epoch = 30)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/30
7000/7000 [==============================] - 1s 193us/step - loss: 0.4353 - acc: 0.8061
Epoch 2/30
7000/7000 [==============================] - 1s 117us/step - loss: 0.3694 - acc: 0.8443
Epoch 3/30
7000/7000 [==============================] - 1s 120us/step - loss: 0.3547 - acc: 0.8550
Epoch 4/30
7000/7000 [==============================] - 1s 123us/step - loss: 0.3517 - acc: 0.8547
Epoch 5/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3465 - acc: 0.8550
Epoch 6/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3479 - acc: 0.8550
Epoch 7/30
7000/7000 [==============================] - 1s 119us/step - loss: 0.3422 - acc: 0.8571
Epoch 8/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3409 - acc: 0.8586
Epoch 9/30
7000/7000 [==============================] - 1s 119us/step - loss: 0.3400 - acc: 0.8601
Epoch 10/30
7000/7000 [==============================] - 1s 116us/step - loss: 0.3378 - acc: 0.8614
Epoch 11/30
7000/7000 [==============================] - 1s 116us/step - loss: 0.3374 - acc: 0.8593
Epoch 12/30
7000/7000 [==============================] - 1s 119us/step - loss: 0.3366 - acc: 0.8580
Epoch 13/30
7000/7000 [==============================] - 1s 117us/step - loss: 0.3349 - acc: 0.8619
Epoch 14/30
7000/7000 [==============================] - 1s 120us/step - loss: 0.3346 - acc: 0.8614
Epoch 15/30
7000/7000 [==============================] - 1s 118us/step - loss: 0.3358 - acc: 0.8610
Epoch 16/30
7000/7000 [==============================] - 1s 124us/step - loss: 0.3315 - acc: 0.8610
Epoch 17/30
7000/7000 [==============================] - 1s 120us/step - loss: 0.3312 - acc: 0.8646
Epoch 18/30
7000/7000 [==============================] - 1s 118us/step - loss: 0.3321 - acc: 0.8603
Epoch 19/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3301 - acc: 0.8616
Epoch 20/30
7000/7000 [==============================] - 1s 119us/step - loss: 0.3306 - acc: 0.8649
Epoch 21/30
7000/7000 [==============================] - 1s 118us/step - loss: 0.3327 - acc: 0.8601
Epoch 22/30
7000/7000 [==============================] - 1s 120us/step - loss: 0.3304 - acc: 0.8624
Epoch 23/30
7000/7000 [==============================] - 1s 119us/step - loss: 0.3280 - acc: 0.8663
Epoch 24/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3294 - acc: 0.8653
Epoch 25/30
7000/7000 [==============================] - 1s 123us/step - loss: 0.3298 - acc: 0.8644
Epoch 26/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3278 - acc: 0.8654
Epoch 27/30
7000/7000 [==============================] - 1s 118us/step - loss: 0.3291 - acc: 0.8604
Epoch 28/30
7000/7000 [==============================] - 1s 119us/step - loss: 0.3271 - acc: 0.8659
Epoch 29/30
7000/7000 [==============================] - 1s 121us/step - loss: 0.3272 - acc: 0.8636
Epoch 30/30
7000/7000 [==============================] - 1s 122us/step - loss: 0.3261 - acc: 0.8634

In [190]:
# 8Predict the results using 0.5 as a threshold (Optional) for model1 using adam

y_pred = model.predict(test_set)
y_pred = (y_pred > 0.5) #to classify each probability into True or False
y_pred

array([[False],
       [ True],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [191]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred,test_labels)
print (cm)

[[2305  324]
 [ 110  261]]

In [192]:
#Accuracy of model 1 with adam is  
print("Accuracy from model 1 :",(2336 +258)/3000)

Accuracy from model 1 : 0.8646666666666667

In [193]:
# 8Predict the results using 0.5 as a threshold (Optional) for model2 using sgd

y_pred2 = model2.predict(test_set)
y_pred2 = (y_pred > 0.5) #to classify each probability into True or False
y_pred2

array([[False],
       [ True],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [194]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred2,test_labels)
print (cm)

[[2305  324]
 [ 110  261]]

In [195]:
#Accuracy of model 2 with sgd is  
print("Accuracy from model 2 :",(2336 +258)/3000)

Accuracy from model 2 : 0.8646666666666667